*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display:flex;
    overflow-x: hidden;
}


/* LEFT TOP SECTION STARTS HERE */
.main{
    height: 155px;
    width: 420px;
    background-color: #121212;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 7px;
}

#logo{
    height: 34px;
    width: 81px;
    /* border: 2px solid red; */
    margin-top: 9px;
    cursor: pointer;
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 19px;
    /* border: 2px solid blue; */
    margin-left: 5%;
    padding-top: 1%;
}

.cont2{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 650;
    font-size: 1rem;
}

#home{
    display: flex;
    gap: 35px;
    align-items: center;
    cursor: pointer;
}

#search{
    display: flex;
    gap: 35px;
    align-items: center;
    color: #8b9096;
}

#search:hover{
    color: white;
    cursor: pointer;
}

i{
    height: 0px;
    width: 10px;
}

/* LEFT TOP SECTION ENDS HERE */

/* LEFT BOTTOM FIRST CONTAINER STARTS HERE */

.sub-main{
    background-color: #121212;
    height: 347px;
    width: 420px;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 7px;
}

.nav-bar{
    height: 60px;
    width: 420px;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    gap: 60%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.library{
    display: flex;
    gap: 5px;
   
}

.left-side{
    display: flex;
    gap: 30%;
    /* border: 2px solid yellow; */
}

.right-side{
    display: flex;
    gap: 40px;
    /* border: 2px solid white; */
}

/* LEFT BOTTOM FIRST CONTAINER ENDS HERE */

/* LEFT BOTTOM MIDDLE CONTAINER STARTS HERE */
.middle-cont{
    height: 81px;
    background-color: #121212;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.middle-cont::-webkit-scrollbar {
    width: 10px;

}

.middle-cont::-webkit-scrollbar-track {
    background: transparent;
}

.middle-cont::-webkit-scrollbar-thumb {
    background: #888 ;
    opacity: 0.8%;
  }

  

.upper-cont{
    margin-top: 5px;
    height: 130px;
    width: 400px;
    background-color: #242424;
    border-radius: 7px; 
    
}

.top-cont{
    position: relative;
    font-size: 16px;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 700;
    top: 16px;
    left: 20px; 
}

.bottom-cont{
    position: relative;
    font-size: 13px;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 600;
    left: 20px;
    top: 30px;
}

.create-button{
    position: relative;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 600;
    font-size: 13.5px;
    top: 47px;
    left: 20px;
    height: 35px;
    width: 130px;
    border-radius: 20px;
    border: none;
}

.create-button:hover{
    height: 38px;
    width: 133px;
}

.lower-cont{
    margin-top: 25px;
    height: 130px;
    width: 400px;
    background-color: #242424;
    border-radius: 7px;  
}

.extra-space{
    height: 30px;
}


/* LEFT BOTTOM MIDDLE CONTAINER ENDS HERE */

/* LEFT BOTTOM LAST CONTAINER STARTS HERE */

.footer-sec{
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

.first-row{
    font-size: 11px;
    display: flex;
    gap: 16px;
    margin-top: 36px;
    margin-left: 25px;
}

aside a{
    text-decoration: none;
    color: #8b9096;
}

.second-row{
    font-size: 11px;
    margin-top: 15px;
    margin-left: 25px;
}

.third-row{
    font-size: 11px;
    margin-top: 15px;
     margin-left: 25px;
}

.lang-button{
    display: flex;
    gap: 10px;
    background-color: #121212;
    border: 0.5px solid white;
    height: 30px;
    width: 95px;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 600;
    border-radius: 15px;
}

.lang-button:hover{
    border-width: 1.5px;
    height: 32px;
    width: 97px;
}

.icon-3{
    color: white;
}

/* LEFT BOTTOM LAST CONTAINER ENDS HERE */

/* RIGHT CONTAINER STARTS HERE */

.right-cont{
    position: sticky;
}

.right-container{
    height: 510px;
    width: 65.3%;
    background-image: linear-gradient(to top, #1d1d1d,#121212);
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 7px;
}

   /* RIGHT NAV-BAR STARTS HERE */

.right-nav{
    height: 63px;
    background-color: #121212;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.vertical {
    border-left: 2px solid white;
    height: 30px;
    position:absolute;
    left: 50%;
}
.buttons{
    display: flex;
    gap: 10px;
}

.buttons button{
    height: 34px;
    width: 33px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color:white;
}

.premium a{
    text-decoration: none;
    color: #a7a7a7;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1.5px;
    position: relative;
    left: 74px;
}

.sign-in a{
    text-decoration: none;
    color: #a7a7a7;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 700;
    font-size: 1rem;
}

.login-button{
    height: 50px;
    width: 150px;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 700;
    font-size: 1rem;
    height: 50px;
    width: 110px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.login-button:hover{
    background-color:#a7a7a7 ;
}

.premium{
    display: flex;
    gap: 10px;
    /* border: 2px solid yellow; */
}

.premium a:hover{
    color: white;
}

.line{
    position: absolute;
    left: 1020px;
    bottom:560px;
    
}

.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sign-link:hover{
    color: white;
}

  /* RIGHT NAV-BAR STARTS HERE */


 /* RIGHT MIDDLE SECTION STARTS HERE */
.right-middle{
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.right-middle::-webkit-scrollbar {
    width: 10px;

}

.right-middle::-webkit-scrollbar-track {
    background: transparent;
}

.right-middle::-webkit-scrollbar-thumb {
    background: #888 ;
    opacity: 0.8%;
  }


 .sub-nav-bar-cont{
    display: flex;
    gap: 500px;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

.sub-nav-bar-cont-2{
    position: relative;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    top: 40px;
}

.playlist{
    font-size: 21px;
    font-weight: 700;
    position: relative;
    top: 5px;
    left: 18px;
}


.playlist:hover{
    text-decoration: underline;
}
.playlist-1{
    font-size: 21px;
    font-weight: 700;
    position: relative;
    top: 40px;
    left: 18px;
}

.playlist-1:hover{
    text-decoration: underline;
}

.show-all{
    text-decoration: none;
    color: #a7a7a7;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    top: 11px;
    left: 98px;
}

.show-all:hover{
    text-decoration: underline;
}

.sub-playlists{
    position: relative;
    top: 30px;
    display: flex;
    gap: 25px;
}

.first-playlist{
    height: 260px;
    width: 180px;
    background-color: #171717;
    border-radius: 5px;
    position: relative;
    left: 23px;
    transition: all ease 0.4s;
}


.first-playlist:hover{
    background-color: #2A2A2A;
}


.first-playlist img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    position: relative;
    top: 16px;
    left: 15px;
}

.first-playlist .play{
    position: relative;
}

.first-playlist .fa{
    position : absolute;
    right: 10px;
    top: -10px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}


.first-playlist:hover .fa{
    opacity: 1;
    transform: translateY(-20px);
}

.top-content{
    position: relative;
    top: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    left: 15px;
}

.bottom-content{
    position: relative;
    top: 36px;
    left: 15px;
    color: #a7a7a7;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-size: 14px;
    font-weight: 500;
}

.bottom-content-2{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 00;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

.second-sub-playlist{
    position: relative;
    top: 95px;
    display: flex;
    gap: 25px;
}

.extra-cont{
    height: 60px;
}

.bottom-links{
    display: flex;
    /* border: 2px solid blue; */
    position: relative;
    top: 150px;
    left: 30px;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 500;
    
}

.left-side-links{
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    gap: 100px;
}

.first-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid red; */
}

.first-link{
    color: white;
    font-weight: 600;
    cursor: none;
}

.social-media-icons{
    display: flex;
    /* border: 2px solid purple; */
    gap: 20px;
    margin-top: 10px;
    margin-left: 100px;
}

.social-media-icons button{
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    background-color:#242424;  
}

.media-icon:hover{
    background-color: #8b9096;
    /* cursor: pointer; */
}

.media-icon i{
    position: relative;
    right: 3.5px;
    color: white;
}

hr{
    position: absolute;
    width: 770px;
    right: 6%;
    top: 200px;
    border-color: #2A2A2A;
}

.copy-rights-cont{
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 2px solid red; */
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    position: absolute;
    top: 240px;
    right: 773px;
    /* padding-right: 33px; */
    font-size: 14px;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 600;
    color: #8b9096;
}
.copy-rights{
    width: 50px;
    position: relative;
    /* top: 250px; */
    /* right: 700px; */
    text-align: center;
}

.sub-copy-rights{
    display: flex;
    position: absolute;
    left: 52px;
    gap: 4px;
    bottom: 0.6px;
}

.extra-space-2{
    height: 300px;
}





.last-container{
    position: absolute;
    background-image: linear-gradient(to right, #ae2997, #A238A3,#8956BC,#687DDC, #5199f3);
    height: 70px;
    left: 10px;
    top: 525px;
    width: 1250px ;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

.top-line{
    font-size: 12px;
    font-weight: 530;
    letter-spacing: 1px;
    position: relative;
    top: 15px;
    left: 10px;
}

.bottom-line{
    display: flex;
    gap:380px;
}

.paragraph{
    font-size: 15px;
    font-weight: 540;
    letter-spacing: 1px;
    position: relative;
    top: 20px;
    left: 10px;
}


.free-button{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4px;
}